# iast.properties file example
iast.name=dongtai-Enterprise
iast.server.url=https://iast.io/openapi
iast.server.token=39133a96f5735c253edd908078846c1051824edc
iast.dump.class.enable=false
iast.dump.class.path=/tmp/iast-class-dump/
engine.name=java.action.github.com
project.name=ExampleApplication
project.create=
project.version=
iast.proxy.enable=false
iast.proxy.host=
iast.proxy.port=
iast.server.mode=local
iast.engine.delay.time=0

iast.jar.spy.url=https://iast.io/openapi/api/v1/engine/download?engineName=dongtai-spy
iast.jar.core.url=https://iast.io/openapi/api/v1/engine/download?engineName=dongtai-core
iast.jar.api.url=https://iast.io/openapi/api/v1/engine/download?engineName=dongtai-api
iast.remoteSync.global.autoFallback=false
iast.remoteSync.hookLimit.tokenPerSecond=5000
iast.remoteSync.hookLimit.initBurstSeconds=10
iast.remoteSync.heavyTrafficLimit.tokenPerSecond=40.0
iast.remoteSync.heavyTrafficLimit.initBurstSeconds=2.0
iast.remoteSync.heavyTrafficLimit.heavyTrafficBreakerWaitDuration=30
iast.remoteSync.performanceLimit.performanceBreakerWindowSize=2
iast.remoteSync.performanceLimit.performanceBreakerFailureRate=51.0
iast.remoteSync.performanceLimit.performanceBreakerWaitDuration=40
iast.remoteSync.performanceLimit.performanceLimitRiskMaxMetricsCount=3
iast.remoteSync.performanceLimit.riskThreshold.cpuUsage={"cpuUsagePercentage":100}
iast.remoteSync.performanceLimit.riskThreshold.threadInfo={"daemonThreadCount":500}
iast.remoteSync.performanceLimit.riskThreshold.memoryUsage={"memUsagePercentage":100}
iast.remoteSync.performanceLimit.riskThreshold.memoryNoHeapUsage={"used":500000000}
iast.remoteSync.performanceLimit.riskThreshold.garbageInfo={"collectionInfoList":[{"tenured":true, "collectionCount":5,"collectionTime":500}]}
iast.remoteSync.performanceLimit.maxThreshold.cpuUsage={"cpuUsagePercentage":100}
iast.remoteSync.performanceLimit.maxThreshold.threadInfo={"threadCount":10000,"daemonThreadCount":1000}
iast.remoteSync.performanceLimit.maxThreshold.memoryUsage={"memUsagePercentage":100}
iast.remoteSync.performanceLimit.maxThreshold.memoryNoHeapUsage={"used":1000000000}
iast.remoteSync.performanceLimit.maxThreshold.garbageInfo={"collectionInfoList":[{"collectionName":"G1 Old Generation","collectionCount":10,"collectionTime":1000},{"tenured":true, "collectionCount":10,"collectionTime":1000}]}
iast.remoteSync.secondFallback.frequency.tokenPerSecond=0.01
iast.remoteSync.secondFallback.frequency.initBurstSeconds=200.0
iast.remoteSync.secondFallback.duration=120000
