## for IDEA
.idea
.idea/*
.fleet
*.iml
*.DS_Store

## for maven
pom.xml.versionsBackup
dongtai-core/target/
dongtai-spy/target/
dongtai-agent/target/
UnitText/target/
target/
**/dependency-reduced-pom.xml
.flattened-pom.xml

## for eclipse and vscode
.classpath
.project
.settings
.factorypath

## for vim
*.swp
*.swo
*.swn

# for iast
release

# for jenv
.java-version

jmh-result.json

dongtai-api.jar
dongtai-core.jar
dongtai-grpc.jar
dongtai-spy.jar

logs