## for IDEA
.idea
.idea/*
*.iml
*.DS_Store

## for maven
pom.xml.versionsBackup
dongtai-core/target/
dongtai-spy/target/
dongtai-agent/target/
UnitText/target/
target/
**/dependency-reduced-pom.xml

## for eclipse and vscode
.classpath
.project
.settings
.factorypath

## for vim
*.swp
*.swo
*.swn

# for iast
release

# for jenv
.java-version

logs

dongtai-api.jar
dongtai-core.jar
dongtai-spy.jar
