<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="10000">
    <contextName>LingZhi</contextName>

    <!-- 指定某一关键字对应的转换类 -->
    <!-- <conversionRule conversionWord="NAMESPACE" converterClass="com.cj.log.IpConvert"/>-->

    <appender name="STDOUT" class="${shade-prefix}.ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %NAMESPACE %-5level %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [com.dongtai.engine] %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INFO" class="${shade-prefix}.ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/dongtai.log</file>
        <rollingPolicy class="${shade-prefix}.ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/dongtai.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <!-- <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %NAMESPACE %-5level %msg%n</pattern>-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [com.dongtai.engine] %-5level %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="${shade-prefix}.ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR"
              class="${shade-prefix}.ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/dongtai.err</file>
        <rollingPolicy class="${shade-prefix}.ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/dongtai.err.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [com.dongtai.engine] %-5level %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="${shade-prefix}.ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <!--    <logger name="com.secnium.iast" level="info" additivity="false">-->
    <logger name="com.secnium.iast" level="${log.level:-INFO}" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO"/>
        <appender-ref ref="ERROR"/>
    </logger>

</configuration>

